.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Filmy img {
    height: 200px;
}
.Filmy {

    background-color: white;
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
}
.Tags {
    margin-left: 15px;

    display: flex;
    justify-content: start;

}
.Film {
    overflow: clip;
    margin: 10px;

    border: 1px solid gray;
    border-radius: 15px;
    background-color: #ffffff;
    width: 700px;
    height: 300px;
}
.MainTag {
    color: gray;
}
.FilmData {
    display: flex;
    background-color: #ffffff;

}
.Tag {
    padding: 10px;
    font-style: italic;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid yellowgreen;
    background-color: #d5ef9a;
    width: 80px;
}
.Tickets .Purchase {
    width: 200px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    height: 50px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Tickets {

    height: 100px;

    background-color: #f3f3f3;
    display: flex;
}
.TimeTable {
    height: 90%;

}
.Timer {

    border-radius: 5px;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    margin: 5px;
    font-weight: bold;
}
.Timer button {
    margin: 0px;
    height: 40%;
    width: 100%;
    color: white;
    background-color: black;
}
.Timer h3 {
    margin: 0px;
    font-size: 60%;
    width: 100%;
    height: 25px;
}
.Timer p {
    margin: 0px;
    background-color: white;
    font-size: 70%;
    height: 25%;
}
.TimeTable {
    justify-content: space-between;
    display: flex;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
